import React from 'react';
import PropTypes from 'prop-types'; 
import styles from './{{pascalCase name}}_css';
import {withStyles} from '@material-ui/core/styles';

const {{pascalCase name}} = props => {

    const {classes} = props;
    return (
        <div className={classes.root}>
            {{pascalCase name}}
        </div>
    );
};

{{pascalCase name}}.defaultProps = {}; 

{{pascalCase name}}.propTypes = {}; 

export default withStyles(styles)({{pascalCase name}});